@charset "utf-8";
/* CSS Document */

#login {

width:300px;
height:200px;
margin:50px 385px 180px 490px;
padding: 20px 0 0 51px;
background-color:#CCCCCC;

}

#header {
background-color:#CCD2D4;
margin:0 auto;
padding:0 0;
width:900px;
height:100px;
}

body {
background-color:#8E9CA1;
margin:0 auto;
}

#footer {
background-color:#CCCCCC;
margin:0 auto;
width:900px;
height:100px;
}

#menu {
background-color:#B3FFFF;
margin:0 auto;
padding:0 0;
width:900px;
height:60px;
}

#sub-menu {
margin-left:20px;
padding-top:20px;
width:50px;
height:50px;

}